* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  margin: 0;
  padding-top: 50px;
  font-family: "Inter", sans-serif;
}

.form {
  background-color: rgb(236, 236, 236);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 50px 250px rgb(63, 156, 131);
  max-width: 520px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

label {
  font-size: 0.9rem;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: #fff;
  border: 1px solid #e5e7eb;
  padding: 14px;
  font-size: 0.95rem;
  color: #111827;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.4);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: rgb(63, 156, 131);
  box-shadow: 0 0 10px rgb(63, 156, 131);
}

.submitbtn {
  border: none;
  display: block;
  background-color: rgb(29, 144, 113);
  color: white;
  cursor: pointer;
  padding: 12px 15px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin: 15px auto 20px auto; 
  transition: background-color 0.3s ease;
}

.submitbtn:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.submitbtn:active {
  background-color: rgb(13, 28, 16);
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  margin-top: auto;
  color: rgb(0, 255, 187);
  text-align: center;
  font-weight: 600;
  font-style: normal;
}

.context {
  margin-top: auto;
  color: white;
  text-align: center;
  font-weight: 200;
}
